/***************  BODY AND MAIN CONTAINER + BASICS  ***************/

body {
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: white /* rgb(0, 0, 89);*/
}

ul {
  max-width:1100px;
  margin: auto 2ch;
}


#CTRDIV {
  position: relative;
  display: grid;
  padding: 0px; 
  margin: 0 auto;
  height: auto;
  width: auto;
  top: 70px;
}


.pageTitle {
  font-family: 'Graduate'; 
  font-style: italic; 
  font-weight: bold;
  color: white;
  text-shadow: 0px 4px 10px blue;
  font-size: 50px;
  padding: 5px;
  display: grid;
  align-self: center;
  text-align: center;
}


/***************  HEADER ELEMENTS  ***************/


.max {
  display: flex;
  max-width: 1050px;
  margin: auto auto;
  justify-content: space-evenly;
  width: 95%;
}

.signUp {
  display: grid;
  text-align: center;
  color: black;
  font-family: 'Oswald'; 
  font-weight: bold;
  font-size: 40px;
  margin: 0 auto;
  padding: 30px;
}

.stickyHeader {
  display: grid;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-image: url("Images/IMAG000.jpg");
  /**background-size: contain;*/
  background-color: darkblue;
  z-index:99;
}

.pageTitle {
  display: none;
}

.centerHeader {
  margin: auto auto;
  justify-content: space-evenly;
  width: 100%;
}

.leftHeader {
  margin: 0 auto ;
}

.logo {
  background-image: url('Images/logoCutout.png');
  width: 150px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 0px 30px blue );
}

#tagLine {
  position: absolute;
  background-image: url('Images/IMAG024.gif');
  background-repeat: no-repeat;
  background-size: 30vh;
  width: 100%;
  height: 100%;
  top: 12vh;
  left: 30%;
}


.pictures {
  height: 300px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.buildingPhoto {
  width: 100vw;
  height: 300px;
  max-width: 1600px;
  background-size:cover; 
  background-position: center;
  background-position-x: 400px;
  background-repeat: no-repeat;
  max-height: 73vh;
  --mask: linear-gradient(to left, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 70%, 
      rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
  ) 100% 100% / 50% 100% no-repeat;
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}

.title {
  font-size: 100px;
  font-family: 'oswald';
  color: white;
  text-align: center;
  font-weight: bolder;
  height: 300px;
  position: absolute;
  width: 500px;
  top: 0;
  left: 5%;
}

.buildingPhoto {
  background-image: url(Images/AAMOutside.jpg);
}


/***************  TOP NAVIGATION  ***************/

.stickyNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: max-content;
}

.stickyNav a {
  font-family: 'Oswald';
  color: white;
  padding: 5px;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap; 
  text-decoration: none;
}

.bottomNav {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 12vh auto;
  justify-content: space-evenly;
  height: 100px;
  max-width: 1100px;
  align-items: center;
  width: 90%;
}

.bottomNav a {
  font-family: 'Cairo', sans-serif;
  color: white;
  padding: 5px;
  font-size: 30px;
}

.topNav {
  display: none;
  flex-wrap: wrap;
  margin: 10px auto auto auto;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;  
}

.bottomNav a, .topNav a {
  font-family: "Oswald";
  color: white;
  padding: 5px;
  font-size: 25px;
}

/***************  Top Container Elements  ***************/


.topContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px
  
}

.section {
  background-size: contain;
  padding: 30px;
  margin: 0 auto;
  justify-items: center;
  position: relative;
  display: grid;
}

.divider {
  height: 40px;
  background-color: darkblue;
  position: absolute;
  top: 55%;
  width: 1050px;
  max-width: 95vw;
  z-index: -1;
  justify-self: center;
  /**
  width: 350px;
  background-image: url(Images/IMAG000.jpg);
  background-size: contain;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:  20px;
  */
}


.primaryHeadline {
  font-family: 'oswald'; 
  font-weight: bold;
  color: Black;
  font-size: 40px;
  padding: 0;
  height: max-content;
  width: 100%;
  text-align: center;
}

.a {
  list-style-type: '\1F3B8' ;
}
.b {
  list-style-type: '\1F3B9' ;
}
.c {
  list-style-type: '\1F941' ;
}
.d {
  list-style-type: '\1F3B7' ;
}

ul li {
  font-size: 2em;
  margin-bottom: 2ch;
  background-color: transparent;
  color: white;
  text-shadow: 10px 0px 10px black;
  
}


/***************  BOTTOM CONTAINER ELEMENTS  ***************/


.bottomContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.infoBox {
  padding-left: 20px;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  margin: auto auto ;
  width: auto;
}

.infoBox a {
  color: white;
  text-decoration: none;
  text-shadow: 0px 4px 20px blue;
}

.secondaryHeadline {
  font-family: 'eb garamond', sans-serif;
  display: grid;
  width: 95%;
  margin: 0 auto;
  /**background-image: url('Images/IMAG000.jpg');*/
  font-size: 10px;
}


.quote {
  display: grid;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 30px;
  max-width: 1000px;
}

.quote span {
  font-style: italic; 
  text-decoration: underline;
  font-family: 'oswald'; 
  padding: 10px;
  font-size: 20px;
}




/***************  FOOTER ELEMENTS ***************/


.stickyFooter {
  display: grid;
  position: fixed;
  bottom: 0;
  height: 12vh;  
  max-height: 15vh;
  width: 100%;
  align-items: center;
  background-image: url("Images/IMAG000.jpg");
  /**background-size: contain;*/
  box-shadow: 0px 0px 10px 2px black ;
  background-color: darkblue;
  margin: 0 auto;
  left: 0;
}

.homeAddress {
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 30px;
  color: white;
  max-width: 80%;
}

/***************  DROPDOWN ELEMENTS  ***************/

.myDropdown {
  position: absolute;
  display:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: max-content;
  background-color: white;
  border-radius: 20px;
  border-top-right-radius: 0;
  right: -13px;
  overflow: hidden;
  z-index: 1000;
}

.dropdownBtn {
  background-image: url('Images/Hamburger_icon.png');
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-left: 20px
}

.myDropdown a {
  color: black;
  font-family: 'Jockey One', sans-serif;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background-color: #ddd;
  z-index: 1000;
  
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown a:hover {
  background-color: white;
}

.show {
  display: block;
}

@keyframes fade {
  0% {opacity: 0}
  100%{opacity:1}
}

.fade {
  animation: fade 1.5s linear forwards;
}


/***************  MEDIA QUERIES  ***************/


@media (min-width: 976px) {
  .max {
    width: auto;
  }
  .stickyFooter div {
    font-size: 30px;
  }

  .infoBox {
    font-size: 35px;
  }

  .bottomContainer {
    max-width: 1110px;
    width: 1100px;
  }

  .secondaryHeadline {
    width: 850px;
    margin: 0 auto;
  }

  .bottomNav a{
    color: white;
    padding: 4px;
    font-size: 25px;
  }

  .section {
    position: relative;
  }

  .homeButton {
    height: 350px;
    width: 250px;
    margin: 10px;
  }

  .homeButton a {
    display: grid;
    height: 100%;
    width: 100%;
    font-size: 26px;/** min(10vw, 50px);**/
  }

  .dropdownBtn {
    width: 50px;
    height: 50px;
  }

  .pictures {
    height: 400px;
    justify-content: center;
  }

  .title {
    top: 10%
  }
 


  li:before {
    content: "";
    margin-left: 2ch;
    text-decoration: none;
  }

  .max{
    width: 1050px;
  }

  .buildingPhoto, .buildingPhoto2 {
    width: 100vw;
    height: 400px;
    max-width: 1300px;
    /** box-shadow: 0 0 30px 30px black inset; */
  }

  .buttonPhoto {
    padding: 50px;
  }

}

@media (min-width: 976px) and (max-width: 1275px) {
  .max {
    width: 95%;
  }

  .topContainer {
    justify-content: space-evenly;
  }

  .bottomContainer {
    max-width: 954px;
    width: 954px;
  }

  .buildingPhoto{
    width: 100vw;
    height: 400px;
    max-width: 1600px;
  }
}

@media (max-width: 1276px) {
  .buildingPhoto {
    box-shadow: none;
  } 
}

@media (max-height: 550px) {
  .myDropdown a {
    font-size: 20px ;
  }

  .stickyFooter div {
    font-size: 15px;
    padding: 10px;
  }

  .homeButton a {
    display: grid;
    height: 100%;
    width: 100%;
    font-size: 25px;/** min(10vw, 50px);**/
  }

  .homeButton {
    height: 200px;
    width: 80vw;
    margin: 10px;
  }


  .pictures {
    height: 50vh;
  }
  
  /*
  .bottomContainer {
    margin: 80px auto 10px auto;
  }

  .topContainer {
    margin: 80px auto 30px auto;
  }
  */

  .buttonPhoto {
    padding: 10px;
  }

  .stickyHeader {
    height: 80px;
    width: 100%;
  }

  .logo {
    width: 150px;
    height: 80px;
  }

  .dropdown {
    position: absolute;
    top: 15px;
  }

  .buildingPhoto, .buildingPhoto2 {
    width: 100vw;
    height: 400px;
  }

  .pictures {
    height: 300px;
    width: 100vw;
  }

  .title {
    top: 0;
  }
}


@media (max-width: 749px) {
  .max{
    width: auto;
    max-width: 100vw;
  }
  .stickyFooter div {
    font-size: 15px;
    padding: 10px;
  }

  .bottomNav a {
    color: white;
    padding: 4px;
    font-size: 25px;
  }

  .topNav a {
    color: white;
    padding: 4px;
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
  }

  .topNav {
    /**display: flex;*/
    height: auto;
  }
  
  .pictures {
    width: 100%;
    display: grid !important;
  }

  .stickyHeader {
    width: 100%;
  }

  .infoBox {
    font-size: 30px;
    width: 94vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .buttonPhoto {
    padding: 25px;
  }

  .homeButton {
    height: 300px;
    width: 85vw;
    margin: 10px;
  }

  .homeButton a {
    display: grid;
    height: 100%;
    width: 100%;
    font-size: 30px;/** min(10vw, 50px);**/
  }

  .dropdown {
    position: absolute;
    right: 30px;
    top: 20px;
    display: inline-block;
  }

  .dropdownBtn {
    width: 40px;
    height: 40px;
  }

  .buildingPhoto, .buildingPhoto2 {
    width: 100vw;
    height: 400px;
    box-shadow: none;
    background-position-x: 100px;
    /**display: none !important;*/
  }
  
  .title {
    width: 50%;
    left: 0;
    top: 0
  }

  .stickyNav {
    display: none;
  }

  .centerHeader {
    display: none;
  }

  .bio h1 {
    font-size: 1.5em;
  }
  
  .poster {
    width: 80vw;
    height: 80vw;

  }

}


@media (max-height: 450px) or (max-width: 810px) {
  .stickyNav a{
    font-size: 25px;
  }

}

* :not(.buttonPhoto) {
  color: white;
}


body{
  background-color: black;
}
